@model IEnumerable<InventoryService.ViewModels.VM_Item>

@{
    ViewBag.Title = "ItemList";
}
@using InventoryService.Enums
<h2>Wszystkie produkty</h2>

<p>
    @Html.ActionLink("Dodaj nowy produkt", "CreateNewItem")
</p>
<table class="table">
    <tr>
        <th>
            Kod produktu
        </th>
        <th>
            Nazwa produktu
        </th>
        <th>
            Jm
        </th>
        <th>
            Oczekiwana ilość
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @item.Unit.GetDisplayName().ToString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpectedAmount)
            </td>
            <td>
                @Html.ActionLink("Edytuj", "EditItem", new { id = item.Id }) |
                @Html.ActionLink("Usuń", "DeleteItem", new { id = item.Id })
            </td>
        </tr>
    }


</table>
<div>
    @Html.ActionLink("Generuj PDF", "CreatePdf", "Item")
</div>
