@model IEnumerable<InventoryService.ViewModels.VM_Item>

@{
    ViewBag.Title = "InventoryView";
}
@using InventoryService.Enums
<h2 class="h2Inventory">Tryb Inwentaryzacji</h2>


<table class="table table-bordered">
    <tr>
        <th>
            Kod produktu
        </th>
        <th>
            Nazwa produktu
        </th>
        <th>
            Jm
        </th>
        <th>
            Stan rzeczywisty
        </th>
        <th>
            Zapisz
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="tdItemNumber">
                @Html.DisplayFor(modelItem => item.ItemNumber)
            </td>
            <td class="tdItemName">
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td class="tdUnit">
                @item.Unit.GetDisplayName()
            </td>
            <td class="tdRealAmount">
                <div>
                    @Html.EditorFor(modelItem => item.RealAmount, new { htmlAttributes = new { @class = "form-control", id = "realAmount" + item.Id } })
                    @Html.ValidationMessageFor(modelItem => item.RealAmount, "", new { @class = "text-danger" })

                </div>
            </td>
            <td>
                <div>
                    <a data-href="@item.Id" class="glyphicon glyphicon-ok aSaveRealAmount">
                    </a>
                </div>
            </td>

        </tr>

    }

</table>
@Scripts.Render("~/Scripts/ViewScripts/InventoryScript")